@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;  
}

.bg-square {
  position: relative;
  background-color: #f6f9fe;
  background-image: url('images/bg.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

button,input,select,textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,embed,iframe,object,video {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  position: relative;
}
  
@media screen and (min-width: 1088px) {
  .container {
    max-width: 1440px;
    width: 1440px;
  }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}

@media screen and (max-width: 769px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.hero {  
  margin-bottom: 10rem;  
}    

@media screen and (max-width: 769px) {
  .hero {  
    margin-bottom: 2rem;  
  } 
}

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 769px) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    margin-bottom: 7.5rem;
  }
}

.navbar>.container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar-logo {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-logo img {
  height: 30px;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;;
}

.hero-image {
  display: inline-block;
  max-height:  calc(50vh - 3.25rem);
  max-width: calc(50vw - 3.25rem);
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .hero-image {
  max-height:  auto;
  max-width: calc(80vw - 3.25rem);
  margin-bottom: 2rem;
  }
}

.is-full-height {
  min-height: 100vh;
}

.button {
  color: white;
  background-color: #fe52c0;
  align-items: center;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  font-size: 0.9rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(1.575em - 1px);
  padding-left: calc(2em - 1px);
  padding-right: calc(2em - 1px);
  padding-top: calc(1.575em - 1px);
  position: relative;
  vertical-align: top;
  cursor: pointer;
}

.button-white {
  color: #12363d;
  background-color: white;
}

.is-centered {
  text-align: center!important;
}

.title {
  color: #12363d;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.125;
  margin-bottom: 1rem;
}

h2.title {
  color: #12363d;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.125;
  margin-bottom: 1rem;
}

h2.subtitle {
  color: #8f9397;
  max-width: 650px;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.50;
  margin: auto;
  margin-bottom: 1.5rem;
}

p.subtitle {
  color: #8f9397;
  max-width: 450px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.50;
  margin-bottom: 1.5rem;
}

.section-adjust {
  padding-left: 10rem;
}
@media screen and (max-width: 769px) {
  .section-adjust {
    padding-left: 0rem;
  }
}

.call-to-action {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 3.5rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  background-color: white;
  box-shadow: 0px 10px 80px -20px rgba(0,0,0,0.5);
}

@media screen and (max-width: 769px) {
  .call-to-action {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-color: white;
    box-shadow: 0px 10px 80px -20px rgba(0,0,0,0.5);
  }
}

.footer {
  min-height: 300px;
  padding-top: 50px;
  background-color: #00252e;
  color: white;
  font-size: 14px;
}

.logo-white {
  filter: invert(0.1) brightness(100);
  height: 30px;
  margin-bottom: 15px;
}

.footer li {
  line-height: 2;
}

.footer h4 {
  padding-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer input {
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

.footer p {
  line-height: 1.5;
  padding-bottom: 10px;
}
