@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  
  
}

.bg-square {
  position: relative;
  background-color: #f6f9fe;
  background-image: url('images/bg.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

button,input,select,textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,embed,iframe,object,video {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  position: relative;
}
  
@media screen and (min-width: 1088px) {
  .container {
    max-width: 1440px;
    width: 1440px;
  }
}

.columns {
  display: flex;
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}

@media screen and (min-width: 769px), print
.column.is-half, .column.is-half-tablet {
    flex: none;
    width: 50%;
}

.hero {
  
  margin-bottom: 10rem;
  
}    

.hero-square-pink- {
  position: absolute;
  top: -130px;
  left: auto;
  right: -130px;
  width: 840px;
  height: 840px;
  background: linear-gradient(to right, #d55fa4, rgba(122,95,169,0.9));
  -webkit-transform: none;
  transform: rotate(45deg);
  border-radius: 25px;
  
}

.hero-square-white {

}

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.navbar>.container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar-logo {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-logo img {
  height: 30px;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;;
}

.hero-image {
  display: inline-block;
  max-height:  calc(50vh - 3.25rem);
  max-width: calc(50vw - 3.25rem);
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .hero-image {
  max-height:  auto;
  max-width: calc(80vw - 3.25rem);
  margin-bottom: 2rem;
  }
}

.is-full-height {
  min-height: 100vh;
}

.hero-body {
  
}

.button {
  color: white;
  background-color: #fe52c0;
  align-items: center;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  font-size: 0.9rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(1.575em - 1px);
  padding-left: calc(2em - 1px);
  padding-right: calc(2em - 1px);
  padding-top: calc(1.575em - 1px);
  position: relative;
  vertical-align: top;
}

.is-centered {
  text-align: center!important;
}

.title {
  color: #12363d;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.125;
  margin-bottom: 1rem;
}

h2.title {
  color: #12363d;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.125;
  margin-bottom: 1rem;
}

h2.subtitle {
  color: #8f9397;
  max-width: 650px;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.50;
  margin: auto;
  margin-bottom: 1.5rem;
}

p.subtitle {
  color: #8f9397;
  max-width: 450px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.50;
  margin-bottom: 1.5rem;
}

.section-adjust {
  padding-left: 10rem;
}

